* {
  font-family: Goldplay, sans-serif;
}
body {
  max-width: 200px;
}
.container {
  margin: 0px auto;
  max-width: 50%;
}
.card {
  margin: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    11px 11px 25px 0px rgba(197, 197, 197, 0.4);
  box-shadow: 0px 10px 13px -7px #000000,
    11px 11px 25px 0px rgba(197, 197, 197, 0.4);
}
.class-body {
  padding: 20px;
}
button:focus {
  color: #08517a;
  background-color: #26c480;
  border-color: #26c480;
  box-shadow: none;
}
button:active {
  color: #08517a;
  background-color: #26c480;
  border-color: #26c480;
}
button:hover {
  background-color: #26c480;
  border-color: #26c480;
  color: #08517a;
}
button {
  float: right;
  margin-top: 20px;
  color: #08517a;
  background-color: white;
  border-color: #08517a;
  border-radius: 0px;
}
input {
  border-radius: 0px;
}
